PORT=5001
MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/doctor_appointment_system?retryWrites=true&w=majority&appName=DoctorAppointmentSystem
CLIENT_URL=http://localhost:5173
CLIENT_URLS=http://localhost:5173,http://127.0.0.1:5173
GMAIL_USER=your-email@example.com
GMAIL_APP_PASSWORD=your-app-password
GROQ_API_KEY=your-groq-api-key

GOOGLE_CLIENT_ID=1048669570106-
GOOGLE_CLIENT_SECRET=GOCSPX-YdD
GOOGLE_REFRESH_TOKEN=your-pre-authorized-refresh-token
GOOGLE_CALENDAR_ID=primary

# eSewa payment gateway (use test credentials below for development)
SERVER_URL=http://localhost:5001
ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_PAYMENT_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_VERIFY_URL=https://rc-epay.esewa.com.np/api/epay/transaction/status/